/* стилізація index.html */
:root{
    --brand-color: #404BBF;
    --title-color: #2E2F42;
    --heading-color: #FFFFFF;
    --address-color: #434455;
    --button-color: #4D5AE5;
    --button-background: #F4F4FD;
    --button-filtre-color: #E7E9FC;
    --icon-color-hover: #404BBF;
    --icon-color: #8E8F99;
    --icon-hover-footer:#31D0AA;
    --backdrop-color:rgba(48, 48, 48, 0.445);
}

p,
ul,
h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0;
    padding: 0;
}



img {
   display: block;
   width: 100%;
   height: auto;
}

button {
    cursor: pointer;
}


body{
    font-family: 'Roboto','Golos Text', sans-serif;
    color: var(--title-color);
    margin: auto; 
}
ul {list-style: none;}
a {text-decoration: none;}
/* header */

.container{
    width: 100%; 
    padding-left: 82px;
    padding-right: 82px;
    margin-left: auto;
    margin-right: auto;
}




.section{
    padding: 96px 0;
}

.navigation {
    display: flex;
}

.header{
    padding-top:24px ;
    padding-bottom: 24px;
}

.header-studio{
    display: flex;
    align-items: center;
}



.link-page{
    font-family: 'Raleway', sans-serif;
    color: var(--title-color);
    font-size: 18px;
    line-height: 1.3;
    display: flex;
    align-items: center;
    padding: 0px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}

.list-page{
    display: flex;
    align-items: center;
    padding: 0px;
    gap: 40px;
}

.link-icon{
    font-family: 'Raleway', sans-serif;
    color: var(--button-color);
    font-size: 18px;
    line-height: 1.3;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.page-studio {
    color: var(--title-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.page{
    color: var(--title-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    position: relative;
    transition: color, 250ms cubic-bezier(0.4, 0, 0.2, 1);   
}

.studio::after{
  content: "";
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  display: block;
  background-color: var(--brand-color);
  border-radius: 2px;
  transition: var(--curent-color);
  position: absolute;
  top: 42px;
}


.page:hover,
.page:focus{
   color: var(--brand-color);

}



.link-address{
    display: flex;
    gap: 40px;
    align-items: center;
}

.address-webstudio{
    margin-left: auto;
}

.address{
    color: var(--address-color);
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address:hover,
.address:focus{
    color: var(--brand-color);

}


/* main */
/*section_1*/

.hero{
    background-color: var(--title-color);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), url(../images/hero-section.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1440px;
    padding: 188px 0;
}

.hero-section{
    color: var(--heading-color);
    
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 48px;
}

.button{
    font-family: 'Roboto';
    cursor: pointer;
    color: var(--heading-color);
    background: var(--button-color);
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    padding: 16px 32px;
    margin: 0 auto;
    transition: color, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus{
    background: var(--brand-color);

}
/* section_2 */

.section-features{
    padding-bottom: 0;
}

.list-paragraphs{
    display: flex;
    flex-wrap: wrap;
    gap: 24px
}

.items{
    flex-basis: calc((100% - 72px) / 4);
}

.items-features{
    background-color: var(--button-background);
    border-radius: 4px;
    margin-bottom: 8px;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-features{
}

.items:last-child{
    padding-right: 0;
}

.title-list{
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}


.list-features{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.webstudio-soc-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.webstudio-soc-item {
    width: 40px;
    height: 40px;
    
}
.webstudio-soc-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--button-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color, 250ms cubic-bezier(0.4, 0, 0.2, 1);    
}
.webstudio-soc-link:hover,
.webstudio-soc-link:focus{
    background: var(--brand-color);

}
.webstudio-soc-icon{
    
}


.item-images{
    display: flex;
    gap: 24px;


}

.images{
    flex-basis: calc((100% - 48px) / 3);
}

/* section_3 */
.title-item{
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}



/* section_4 */

.section-team{
    background: var(--button-background);
}

.subject{
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.list-team {
    background-color: var(--heading-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    /* flex-basis: calc((100% - 72px) / 4); */
    width: 100%;
}

.team{
    display: flex;
    flex-wrap: wrap;
    gap: 72px;


}

.item-team{
    padding: 32px 16px;
}

.subtitle {
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.text{
    color: var(--address-color);
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.title-customers{
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.icon{
}

.customers-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.customers-item {
    flex-basis: calc((100% - 120px / 6));
}

.customers-link:hover,
.customers-link:focus{
    color: var(--brand-color);
    border: 1px solid var(--brand-color);

}
.customers-link {
    border: 1px solid var(--icon-color);
    border-radius: 4px;
    display: flex;
    height: 88px;
    align-items: center;
    justify-content: center;
    color: var(--icon-color);
    transition: color, 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}


.customers-icon{
    fill: currentColor;
}

/* footer */

.footer{
    background-color: var(--title-color);
    padding: 100px 0;
}


.text-footer{
    color: var(--heading-color);
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.social{
    margin-right: 80px;
}

.title-soc{
    color: var(--heading-color);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
}

.footer-soc-list {
    display: flex;
    align-items: center;
    gap: 16px;
}
.footer-item-soc {
    width: 40px;
    height: 40px;
}
.footer-icon-link {


}

.link-footer-webstudio{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--button-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color, 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.link-footer-webstudio:hover,
.link-footer-webstudio:focus{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: var(--icon-hover-footer);

}


.webstudio-section{
    display: flex;
}

.webstudio-footer{
    margin-right: 120px;
}

.link-footer-page{
    font-family: 'Raleway', sans-serif;
    color: var(--button-background);
    font-size: 18px;
    line-height: 1.3;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.link-footer-icon{
    font-family: 'Raleway', sans-serif;
    color: var(--button-color);
    font-size: 18px;
    line-height: 1.3;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.subscribe{
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #FFFFFF;
margin-bottom: 16px;
}

.email{
    border: 1px solid var(--heading-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--title-color);
    min-width: 264px;
    height: 40px;
    margin-right: 24px;
    padding-left: 16px;
    font-size: 12px;
    line-height: 2;
    color: var(--heading-color);
}

.btn-subscribe{
    padding: 8px 24px;
    background: var(--button-color);
    border-radius: 4px;
    border: 0;
    color: var(--heading-color);
    display: flex;
    align-items: center;
}
.form{
    display: flex;
}

.icon-subscribe{
    margin-left: 16px;

}


input::placeholder{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    color: var(--heading-color);
}






.backdrop{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--backdrop-color);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: opacity 250ms linear, visibility 250ms linear, pointer-events 250ms linear;
}

.modal {
    width: 100%;
    max-width: 408px;
    background-color: var(--button-background);
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scaleX(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px;
}

.backdrop.is-hidden .modal{
    transform: translate(-50%, -50%) scaleX(0.8);
}

.button-close{
  position: absolute;
  top: 24px;
  right: 24px;
  display: block;
  width: 24px;
  height: 24px;
  color: var(--title-color);
  background-color: rgba(231, 233, 252, 0.1);
  border: 1px solid rgba(46, 47, 66, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:hover,
.button-close:focus{
    background-color: var(--brand-color);
    color: var(--heading-color);
    border-color: transparent;
}
    


.modal-close{
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 fill: currentColor;
}

.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.no-scroll{
    overflow: hidden;
}

.modal-title{
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}


.name{
   font-size: 12px;
   line-height: 1.17;
   letter-spacing: 0.04em;
   color: var(--icon-color);
   margin-bottom: 4px;
}

.modal-container{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 16px;
}

.input-container{
    position: relative;
}

.label-container{
   display: flex;
   flex-direction: column;
   column-gap: 4px;
}

.logo-person{
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: color, 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.border-input{
  width: 100%;
  height: 40px;
  padding: 11px 34px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--title-color);
  transition: color, 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.border-input:hover,
.border-input:focus{
    border-color: var(--button-color);
}

.border-input:hover + .logo-person,
.border-input:focus + .logo-person {
    fill: var(--button-color);
}


.comment-input{
  padding: 8px 16px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--title-color);
  margin-bottom: 16px;
}

.comment-input::placeholder{
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}



.policy-label {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    position: relative;

}

.policy-label::before{
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    cursor: pointer;
    transition: color, 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.policy-input:checked+.policy-label::before{
    background-color: var(--icon-color-hover);
    border-color: transparent;
    background-image: url(../images/Vector.svg);
    background-repeat: no-repeat;
    background-size: 10px 8px;
    background-position: center;
    background-origin: border-box;
}


.policy-input {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
  
}

.policy-text {
  margin-left: 8px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--icon-color);
}
.policy-link {
    color: var(--button-color);
    text-decoration: underline;
}


.modal-button{
    width: 169px;
    height: 56px;
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 16px 32px;

}

.send-button{
    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px; 
    border: none;
    color: var(--heading-color);  
    font-weight: 500;
    letter-spacing: 0.04em;  
    transition: color, 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.modal-button:hover,
.modal-button:focus{
    background: var(--brand-color);
}















/* стилізація portfolio.html */



.portfolio{
    border-bottom: 1px solid var(--button-filtre-color);
}
.portfolio-position::after{
  content: "";
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  display: block;
  background-color: var(--brand-color);
  border-radius: 2px;
  transition: var(--curent-color);
  position: absolute;
  top: 42px;
}

.link{
    font-family: 'Raleway', sans-serif;
    color: var(--title-color);
    font-size: 18px;
    line-height: 1.3;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.link-logo{
    font-family: 'Raleway', sans-serif;
    color: var(--button-color);
    font-size: 18px;
    line-height: 1.3;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.page-portfolio{
    color: var(--title-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color, 250ms cubic-bezier(0.4, 0, 0.2, 1);   
}

.page-portfolio:hover,
.page-portfolio:focus{
    color: var(--brand-color);

}

   

.address-portfolio{
    color: var(--address-color);
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-left: auto;
    transition: color, 250ms cubic-bezier(0.4, 0, 0.2, 1);   
}

.address-portfolio:hover,
.address-portfolio:focus{
    color: var(--brand-color);

}




.portfolio-buttons{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

.button-filtre{
    cursor: pointer;
    color: var(--button-color);
    background: var(--button-background);
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    border: 1px solid var(--button-filtre-color);
    border-radius: 4px;
    padding: 12px 24px;  
    transition: color, 250ms cubic-bezier(0.4, 0, 0.2, 1);   
}

.button-filtre:hover{
    color: var(--heading-color);
    background-color: var(--brand-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border: 1px solid var(--brand-color);

}

.button-filtre:focus{
    color: var(--heading-color);
    background-color: var(--brand-color);

}





.portfolio-items{
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
   
}

.border{
   border: 1px solid var(--button-filtre-color);
   border-top: 0;
   padding: 32px 16px;
}

.portfolio-list_item {
    background: var(--heading-color);
    flex-basis: calc((100% - 48px) / 3);
}

.portfolio-list_item:hover .portfolio-text{
    transform: translateY(0);
    
}

.portfolio-overlay{
    position: relative;
    overflow: hidden;
}

.portfolio-text {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 24px;
    padding: 40px 32px;
    width: 100%;
    height: 100%;
    background-color: var(--button-color);
    color: var(--button-background);
    transform: translateY(100%);
    transition: color, 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow-y: auto;
}


.portfolio-list_item:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transition-duration: 250ms;
}

.title-filtre{
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.text-filtre{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer-portfolio{
    background-color: var(--title-color);
    
}

.text-footer-portfolio{
    color: var(--heading-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer-section{
    padding: 100px 0;
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
}

.link-footer{
    font-family: 'Raleway', sans-serif;
    color: var(--button-background);
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.link-web{
    font-family: 'Raleway', sans-serif;
    color: var(--button-color);
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

@media screen and (min-width: 480px) {
    .container{
    width: 428px; 
    padding-left: 82px;
    padding-right: 82px;
    margin-left: auto;
    margin-right: auto;
}
}

@media screen and (min-width: 768px){
    .container{
    width: 768px; 
    padding-left: 108px;
    padding-right: 108px;
    margin-left: auto;
    margin-right: auto;
    }
    .list-team{
        flex-basis: calc((100% - 24px) / 2);   
    }
    .team{
    column-gap: 24px;
    row-gap: 64px;
    }

}

